/* Set the font family for the entire document to "Spartan." */
body {
  font-family: "Spartan";
}

/* Set the font size of elements with the class "caption" to medium. */
.caption {
  font-size: medium;
}

/* Ensure that images have a maximum width of 100% of their container,
   and maintain the aspect ratio when resizing. */
img {
  max-width: 100%;
  height: auto;
  /* width: auto; (Commented out, as it's not being used) */
}

/* Define a flex container for elements with the class "row,"
   allowing items to wrap to the next line if they exceed the container width. */
.row {
  /* border: 1px solid red; (Commented out, can be used for debugging layout) */
  display: flex;
  flex-wrap: wrap;
}

/* Add a margin-bottom of 20 pixels to elements with the class "my_col." */
.my_col {
  margin-bottom: 20px;
  /* border: 1px solid green; (Commented out, can be used for debugging layout) */
}

/* Empty section for .col-6. */
.col-6 {
  /* border: 1px solid red; (Commented out, can be used for debugging layout) */
}

/* Customize the background color of elements with the class "jumbotron"
   to #7BCEE0 (light blue). !important is used to ensure this style takes precedence. */
.jumbotron {
  background: #7bcee0 !important;
}
